.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.border-l{
	border-left: 2px solid #000;	
}


.active{
	background-color: #fff !important;	
	padding: 0.1rem !important;
	padding-top: 0 !important;
	border-radius: 1rem !important;
	border-color: #fff !important;
	
}
.active > a{
	color: #00f !important;
}